objects:
  robot: R-1
  #order: o1
  workpiece: [wp1]
  cap-carrier: [cg1, cg2, cg3, cb1, cb2, cb3]

init:
  rs-sub:
    - [THREE, TWO, ONE]
    - [THREE, ONE, TWO]
    - [THREE, ZERO, THREE]
    - [TWO, TWO, ZERO]
    - [TWO, ONE, ONE]
    - [TWO, ZERO, TWO]
    - [ONE, ONE, ZERO]
    - [ONE, ZERO, ONE]
    - [ZERO, ZERO, ZERO]
  rs-inc:
    - [ZERO, ONE]
    - [ONE, TWO]
    - [TWO, THREE]
  wp-base-color:
    - [wp1, BASE_NONE]
  wp-cap-color:
    - [wp1, CAP_NONE]
    - [cg1, CAP_GREY]
    - [cg2, CAP_GREY]
    - [cg3, CAP_GREY]
    - [cb1, CAP_BLACK]
    - [cb2, CAP_BLACK]
    - [cb3, CAP_BLACK]
  wp-ring1-color:
    - [wp1, RING_NONE]
  wp-ring2-color:
    - [wp1, RING_NONE]
  wp-ring3-color:
    - [wp1, RING_NONE]
  wp-unused: [wp1]
    
  robot-waiting: [R-1]

  # To run with a fixed order uncomment:
  # order-complexity:
  #   - [o1, C3]
  # order-base-color:
  #   - [o1, BASE_BLACK]
  # order-ring1-color:
  #   - [o1, RING_GREEN]
  # order-ring2-color:
  #   - [o1, RING_BLUE]
  # order-ring3-color:
  #   - [o1, RING_ORANGE]
  # order-cap-color:
  #   - [o1, CAP_GREY]

# To set a fixed goal uncomment:
goal:
  order-fulfilled: [o1]
