<?xml version="1.0"?>

<launch>
	<arg name="num_robots" default="$(optenv NUM_ROBOTS 1)" />

	<include file="$(find rcll_ros)/launch/rcll_sim_integration.launch">
		<arg name="num_robots" value="$(arg num_robots)" />
		<arg name="navgraph_file" default="$(env FAWKES_DIR)/cfg/navgraph-generated.yaml" />
	</include>

	<include file="$(find rcll_ros)/launch/rosplan_production.launch">
		<arg name="num_robots" value="$(arg num_robots)" />
		<arg name="database_path" value="$(find rosplan_knowledge_base)/common/mongoDB/" />
	</include>
</launch>
