<?xml version="1.0"?>

<launch>
	<arg name="num_robots" default="$(optenv NUM_ROBOTS 1)" />
	<arg name="team_color" value="$(optenv TEAM_COLOR CYAN)" />
	<arg name="pddl_domain_path" default="$(eval optenv('ROSPLAN_DOMAIN_PATH', find('rcll_ros')+'/pddl/rcll_domain_production_durations.pddl'))" />
	<arg name="mongodb_host" default="$(optenv ROSPLAN_MONGODB_HOST localhost)" />
	<arg name="mongodb_port" default="$(optenv ROSPLAN_MONGODB_POR 27018)" />
	<arg name="database_path" default="$(optenv ROSPLAN_MONGODB_DBDIR /opt/rosplan_kb)" />
	<arg name="disable_travel_durations" default="$(optenv DISABLE_TRAVEL_DURATIONS false)" />

	<!-- ROSPlan -->
	<include file="$(find rosplan_planning_system)/launch/interfaced_planning_system.launch" >
		<arg name="domain_path" value="$(arg pddl_domain_path)" />
		<arg name="mongodb_host" value="$(arg mongodb_host)" />
		<arg name="mongodb_port" value="$(arg mongodb_port)" />
		<arg name="database_path" value="$(arg database_path)" />
	</include>

	<node name="rosplan_interface_strategic" pkg="rosplan_interface_strategic" type="rpstrategiccontrol" respawn="false" output="screen"></node>

	<include file="$(find rcll_ros)/launch/rosplan_rcll_interface.launch">
		<arg name="num_robots" value="$(arg num_robots)" />
		<arg name="disable_navgraph_interface" value="$(arg disable_travel_durations)" />
	</include>

	<node name="rosplan_initial_situation" pkg="rosplan_initial_situation" type="rosplan_initial_situation" respawn="false" output="screen">
		<rosparam command="load" file="$(find rcll_ros)/config/rcll_production_initial_situation.yaml" />
		<rosparam command="load" file="$(find rcll_ros)/config/rcll_production_initial_situation_$(arg team_color).yaml" />
		<rosparam command="load" file="$(find rcll_ros)/config/rcll_production_initial_situation_3robots.yaml" if="$(eval int(arg('num_robots')) >= 3)" />
		<param name="clear_kb" value="true" />
		<param name="start_planning" value="false" />
	</node>
</launch>
