<?xml version="1.0"?>

<launch>
	<arg name="num_robots" default="$(optenv NUM_ROBOTS 1)" />
	<arg name="pddl_domain_path" default="$(find rcll_ros)/pddl/rcll_domain_production.pddl" />

	<param name="DOMAINPATHTOSEE" value="$(arg pddl_domain_path)" />
	
	<include file="$(find rcll_ros)/launch/rosplan_planning_system.launch">
		<arg name="pddl_domain_path" value="$(arg pddl_domain_path)" />
		<arg name="popf_anytime" value="true" />
	</include>

	<include file="$(find rcll_ros)/launch/rosplan_rcll_interface.launch">
	<arg name="num_robots" value="$(arg num_robots)" />
	</include>

  <node name="rosplan_initial_situation" pkg="rosplan_initial_situation"
        type="rosplan_initial_situation" respawn="false" output="screen">
	  <rosparam command="load" file="$(find rcll_ros)/config/rcll_production_initial_situation.yaml" />
	  <rosparam command="load" file="$(find rcll_ros)/config/rcll_production_initial_situation_3robots.yaml"
	            if="$(eval int(arg('num_robots')) >= 3)" />
		<param name="clear_kb" value="true" />
		<param name="start_planning" value="false" />
	</node>

</launch>
