<?xml version="1.0"?>

<launch>
	<arg name="num_robots" default="$(optenv NUM_ROBOTS 1)" />
	<arg name="override_action_mapping" default="false" />
	<arg name="disable_refbox_interface" default="false" />
	<arg name="disable_navgraph_interface" default="false" />
	
	<!-- Load domain-specific action mapping -->
  <rosparam command="load" file="$(find rcll_ros)/config/rcll_action_mapping.yaml"
            unless="$(arg override_action_mapping)" />

  <!-- Load predicates which the interface should not touch (assert/retract) -->
  <rosparam command="load" file="$(find rcll_ros)/config/rcll_ignored_effect_predicates.yaml" />

  <!-- Parameter of action used to identify robot-specific actions -->
	<param name="robot_identifier/var_name" value="r" />
  <param name="robot_identifier/var_type" value="robot" />

	<node name="rosplan_be_r1" pkg="rosplan_interface_behaviorengine"
        type="rosplan_interface_behaviorengine" respawn="false" output="screen"
        if="$(eval int(arg('num_robots')) >= 1)" >
	  <remap from="skiller" to="robot1/skiller" />
    <param name="robot_identifier/var_value" value="r-1" />
  </node>

  <node name="rosplan_be_r2" pkg="rosplan_interface_behaviorengine"
        type="rosplan_interface_behaviorengine" respawn="false" output="screen"
        if="$(eval int(arg('num_robots')) >= 2)" >
	  <remap from="skiller" to="robot2/skiller" />
    <param name="robot_identifier/var_value" value="r-2" />
  </node>

  <node name="rosplan_be_r3" pkg="rosplan_interface_behaviorengine"
        type="rosplan_interface_behaviorengine" respawn="false" output="screen"
        if="$(eval int(arg('num_robots')) >= 3)" >
	  <remap from="skiller" to="robot3/skiller" />
	  <param name="robot_identifier/var_value" value="r-3" />
  </node>

  <node name="rosplan_interface_rcllrefbox" pkg="rosplan_interface_rcllrefbox"
        type="rosplan_interface_rcllrefbox" respawn="false" output="screen"
        unless="$(arg disable_refbox_interface)">
		<remap from="rcll/send_prepare_machine" to="/robot1/rcll/send_prepare_machine" />
	  <rosparam command="load" file="$(find rcll_ros)/config/rcll_ifc_rcllrefbox.yaml" />
	</node>

	<node name="rosplan_kbupdater_machine_info" pkg="rosplan_interface_rcllrefbox"
        type="rosplan_kb_updater_rcll_machine_info" respawn="false" output="screen"
        unless="$(arg disable_refbox_interface)">
		<remap from="rcll/machine_info" to="/robot1/rcll/machine_info" />
		<remap from="rcll/ring_info" to="/robot1/rcll/ring_info" />
	  <rosparam command="load" file="$(find rcll_ros)/config/rcll_kbupdater_machine_info.yaml" />
	</node>

	<node name="rosplan_kbupdater_order_info" pkg="rosplan_interface_rcllrefbox"
	      type="rosplan_kb_updater_rcll_order_info" respawn="false" output="screen"
        unless="$(arg disable_refbox_interface)">
		<remap from="rcll/order_info" to="/robot1/rcll/order_info" />
	  <rosparam command="load" file="$(find rcll_ros)/config/rcll_kbupdater_order_info.yaml" />
	</node>

  <node name="rosplan_kb_updater_navgraph" pkg="rosplan_interface_behaviorengine"
        type="rosplan_kb_updater_navgraph" respawn="false" output="screen"
        unless="$(arg disable_navgraph_interface)">
    <remap from="rcll/machine_info" to="robot1/rcll/machine_info" />
    <remap from="navgraph/get_pairwise_costs" to="robot1/navgraph/get_pairwise_costs" />
    <remap from="navgraph" to="robot1/navgraph" />
    <rosparam command="load" file="$(find rcll_ros)/config/rcll_kbupdater_navgraph.yaml" />
  </node>
</launch>
